#chart {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 960px;
	height: 500px;
	position: relative;
	float: left;
}

svg {
	width: 736px;
	height: 736px;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.margin-left {
	margin-left: 30px;	
}

.center-align {
	text-align: center;
	vertical-align: middle;
}

.height--100 {
	height: 100px;
}
